.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  font-family: "Poppins", Arial, sans-serif;
  color: #212121;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  max-width: 90%;
  line-height: 1.2;
  margin: 0;
  padding: 12px 0 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button-like {
  margin-left: auto;
  padding: 0;
  width: 23px;
  height: 20px;
  opacity: 40%;
  background: transparent url(../images/button-heart.svg) center no-repeat;
  border: none;
  cursor: pointer;
}

.card__button-like:hover {
  opacity: 100%;
}

.card__button-like_liked {
  background-image: url(../images/heart-liked.svg);
  opacity: 100%;
}

.card__button-like_liked:hover {
  opacity: 50%;
}

.card__button-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url(../images/delete-icon.svg);
}

.card__button-delete:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

@media screen and (max-width: 764px) and (min-width: 320px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
